.banner .swiper {
  width: 240px;
  height: 320px;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
  background-image: url('../assets/slider-images/book1.webp');
  background-size: contain;
}

.banner .swiper-slide:nth-child(2n) {
  background-image: url('../assets/slider-images/book2.webp');
  background-size: contain;
}

.banner .swiper-slide:nth-child(3n) {
  background-image: url('../assets/slider-images/book3.webp');
  background-size: contain;
}

.banner .swiper-slide:nth-child(4n) {
  background-image: url('../assets/slider-images/book4.webp');
  background-size: contain;
}

.banner .swiper-slide:nth-child(5n) {
  background-image: url('../assets/slider-images/book5.webp');
  background-size: contain;
}

/* .banner .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
  background-size: contain;}
 */